/*————————————————头部 */
/*————————————————面包屑 */
#C_crumb{
	padding: 10px 0;
	width: 1210px;
	font-size: 14px;
	box-sizing: border-box;
}
.C_crumb{
	float: left;
}
.C_crumb_last>a{
	color: deeppink;
	font-size: 12px;
}
/*————————————————主体内容区 */
.C_mian{
	width: 1210px;
	height: auto;
	margin: 0 auto;
	box-sizing: border-box;
}
/*————————————————酒店详情 */
.C_mian_top{
	width: 1210px;
	height: 263px;
	box-shadow:1px 1px 3px #CCCCCC;
	padding: 28px 440px 28px 28px;
	box-sizing: border-box;
	position: relative;
	margin: 10px 0;
}
.C_mian_top>h1{
	font-size: 20px;
	font-weight: 900;
}
/* 酒店星形评价 */
.C_mian_top>p:nth-child(2){
	padding: 6px 0 12px;
	width: 570px;
}
.C_mian_top>p:nth-child(2)>a{
	overflow: hidden;
	position: relative;
}
.C_mian_top>p:nth-child(2)>a>img:nth-child(1){
	width: 72px;
	height: 12px;
	z-index: -1;
}
.C_mian_top>p:nth-child(2)>a>span:nth-child(2){
	width: 50px;
	height: 15px;
	position: absolute;
	display: inline-block;
	overflow: hidden;
	left: 0;
	top: 03px;
}
.C_mian_top>p:nth-child(2)>a>span:nth-child(2)>img{
	border: 0;
	width: 72px;
	height: 12px;
}
.C_mian_top>p:nth-child(2)>a>span{
	color: #9d8352;
	font-size: 14px;
}
/* 酒店价格 */
.C_contenthotel_listcontent>p:nth-child(2)>span:nth-child(2){
	float: right;
	top: 64px;
	right: 120px;
}
.C_contenthotel_listcontent>p:nth-child(2)>span:nth-child(2) span{
	font-size: 20px;
}
/* 酒店地址、电话、营业时间 */
.C_mian_top>ul>li{
	padding: 10px 0;
	font-size: 14px;
}
.C_mian_top>a:nth-child(4){
	overflow: hidden;
	position: absolute;
	top: 30px;
	right: 30px;
}
/* 酒店图片——img */
.C_mian_top>a:nth-child(4)>img{
	width: 305px;
	height: 205px;
	
}
/* 地图定位 */
.C_mian_top>ul>li>span:nth-child(2){
	font-size: 12px;
	padding: 0 20px;
	color: #3B99FC;
}
.C_mian_top>ul>li>span:nth-child(2)>i>a{
	font-size: 12px;
	color: #3B99FC;
}
.C_mian_top>ul>li>span:nth-child(2)>i{
	font-size: 16px;
	color: #3B99FC;
	padding: 0 4px;
}

/*————————————————下半部分 */
.C_mian_bot{
	width: 1210px;
	margin: 10px 0 100px;
	box-sizing: border-box;
}
/*————————————————下半部分_左侧_团购及评价 */
.C_mian_bot_L{
	width: 964px;
	overflow: hidden;
	float: left;
}
/*商家团购 */
.C_mian_bot_header{
	width: 964px;
	padding: 10px 0 10px;
	font-size: 18px;
	border-bottom: 1px solid #CCCCCC;
}
.C_mian_bot_shop{
	width: 964px;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.C_mian_bot_shopping>div{
	padding: 20px 0 10px;
	border-bottom: 1px solid #CCCCCC;
	overflow: hidden;
}
.C_mian_bot_shopping>div>a:nth-child(1)>img{
	width: 143px;
	height: 89px;
	float: left;
}
.C_mian_top_name{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.C_mian_bot_shopping>div>dl:nth-child(2){
	padding: 0 10px;
	float: left;
	width: 216px;
}
.C_mian_bot_shopping>div>dl:nth-child(2)>dt{
	font-size: 16px;
	margin-bottom: 10px;
}
.C_mian_bot_shopping>div>dl:nth-child(2)>dd{
	font-size: 12px;
	margin-bottom:10px;
	color: #b2b2b2;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.C_mian_bot_shopping>div>dl:nth-child(2)>p{
	font-size: 12px;
	color: #b2b2b2;
}
.C_mian_bot_shopping>div>div:nth-child(3){
	color: #b2b2b2;
	font-size: 14px;
	float: left;
	line-height: 89px;
	margin-left: 40px;
}
/* 价格 */
.C_mian_bot_shopping_price{
	float: left;
	margin-left: 50px;
	padding: 10px 0;
	text-align: center;
}
.C_mian_bot_shopping_price>dt{
	font-size: 24px;
	color: deeppink;
	font-weight: 500;
}
.C_mian_bot_shopping_price>dd{
	font-size: 12px;
	color: #BCBCBC;
	font-weight: 500;
}
.C_mian_bot_shopping_price>dd>span{
	text-decoration: line-through;
}
/* 购买按钮 */
.C_shopping_but{
	display: inline-block;
	width: 86px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	background-color: deeppink;
	color: white;
}
.C_shopping_but:hover{
	background-color: #c92e81;
}
.C_mian_bot_shopping>div>span{
	float: right;
	margin: 20px 100px;
}

/* 用户评价 */
.C_mian_bot_appraise{
	margin-bottom: 100px;
}
.C_mian_bot_Comment_top{
	padding: 10px 0;
}
.C_mian_bot_Comment_top>div{
	width: 49%;
	box-sizing: border-box;
	text-align: center;
}
.C_mian_bot_Comment_top>div:nth-child(1){
	border-right: #EEEEEE 1px solid;
}
.C_mian_bot_Comment_top>div>span{
	display: inline-block;
	padding: 50px 0;
	font-size: 24px;
	color: #EEEEEE;
}
/*————————————————下半部分_右侧_地图 */
.C_mian_bot_R{
	width: 226px;
	float: right;
	margin-top: 10px;
}
.C_mian_bot_R_map{
	width: 226px;
	height: 96px;
	padding: 6px;
	margin-bottom: 14px;
	box-sizing: border-box;
	border: 1px solid #CCCCCC;
	overflow: hidden;
}
.C_mian_bot_R_map1{
	overflow: hidden;
	position: relative;
}
.C_mian_bot_R_map1>img{
	width: 214px;
	height: 84px;
}
.C_mian_bot_R_map1>a{
	background-color: rgba(21,31,36,0.5);
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 14px;
	color: white;
	padding: 0 2px 2px;
	opacity: 0;
}
.C_mian_bot_R_map1>a>span{
	font-size: 20px;
}
.C_mian_bot_R_map2{
	overflow: hidden;
	position: relative;
}
.C_mian_bot_R_map2>img{
	width: 214px;
	height: 84px;
}
.C_mian_bot_R_map2>a{
	background-color: rgba(21,31,36,0.5);
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 14px;
	color: white;
	padding: 0 2px 2px;
	opacity: 0;
}
.C_mian_bot_R_map2>a>span{
	font-size: 20px;
}
/* 酒店推荐 */
.C_mian_bot_R_rec{
	width: 100%;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
}
.C_mian_bot_R_rec_header{
	overflow: hidden;
	padding: 10px;
	line-height: 18px;
	border-bottom: 1px solid #CCCCCC;
}
.C_mian_bot_R_rec_header>p{
	float: left;
}
.C_mian_bot_R_rec_header>a{
	float: right;
	width: 17px;
	height: 17px;
	background: url(../images/hotel/hotel_subpage/refresh_d84c7e3.png) no-repeat center center;
	background-position: 0 0;
}
.C_mian_bot_R_rec_header>a:hover{
	background: url(../images/hotel/hotel_subpage/refresh_d84c7e3.png) no-repeat center center;
	background-position: 0 -30px;
}

.C_mian_bot_R_rec_con{
	
}
.C_mian_bot_R_rec_con>li{
	padding: 10px;
	overflow: hidden;
	border-bottom:1px solid #CCCCCC;
}
.C_mian_bot_R_rec_con>li>a:hover>dl>dt{
	color: deeppink;
}
.C_mian_bot_R_rec_con>li>a>img{
	width: 100px;
	height: 77px;
	float: left;
}
.C_mian_bot_R_rec_con>li>a>dl{
	font-size: 14px;
	float: right;
	padding-left: 4px;
	box-sizing: border-box;
	width: 100px;
}
.C_mian_bot_R_rec_con>li>a>dl>dt{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.C_mian_bot_R_rec_con>li>a>dl>dd{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.C_mian_bot_R_rec_con>li>a>dl>p>span:nth-child(1){
	font-size: 14px;
	color: red;
}
.C_mian_bot_R_rec_con>li>a>dl>p>span:nth-child(2){
	font-size: 12px;
	text-decoration: line-through;
	color: #BCBCBC;
}


