
a{
    text-decoration: none;   
}
.bian{
    background: #eeeeee;
}
.header-1{
    width: 1210px;
    height: 40px;
    color: #666666;
    margin: 0 auto;
    font-size: 14px;
}
.header-1 a{
    color: #666666;
}
.welcome{
    list-style: none;
}
.welcome li{
    float: left;
}
.welcome li a{
    height: 40px;
    padding-left: 20px;
}
.welcome li:nth-child(1){
    height: 40px;
    line-height: 40px;
}
.LoginBtn a{
    line-height: 40px;
    display: block;
    color: #B08C4A;
}
.RegBtn a{
    line-height: 40px;
    display: block;
}
.LoginOut a{
    display: none;
    line-height: 40px;
}

.right{
    list-style: none;
}
.right li{
    float: right;
}
.right li a{
    height: 40px;
    display: block;
    line-height: 40px;
    padding-right: 20px;
}
.right li:nth-child(1) a{
    padding-right: 0;
}
.right li:nth-child(5) a{
    display: inline-block;
}
.right li:nth-child(4) a{
    padding-left: 20px;
}
.right li:nth-child(3) .shang{
    display: inline-block;
}
.right li:nth-child(2) a{
    padding-left: 20px;
}

.friends{
    background: white;
    box-sizing: border-box;
    padding-left: 20px;
    position: relative;
    left: -20px;
    box-shadow: 0px 0px 8px #cccccc;
    display: none;
}
.qiege{
    color: #ddd;
}

.header-2{
    height: 90px;
    width: 1210px;
    margin: 21px auto 0;
}
.logo-area{
    width: 165px;
    height: 59px;
    float: left;
    position: relative;
}
.new-logo{
    width: 165px;
    height: 57px;
}
.logo{
    float: left;
}
.city-wrap{
    position: absolute;
    top: 31px;
    left: 178px;
    width: 165px;
    height: 30px;
    cursor: pointer;
}
.anima{
    display: inline-block;
    animation: zhuan 1s  linear;
    transform-origin: 50% 50%;
}
@keyframes zhuan{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}
.brown{
    color: brown;
}
.search-area{
    width: 576px;
    height: 64px;
    float: left;
    margin: 4px 0 0 173px;
}
.form-right{
    float: left;
    width: 100%;
    border: 2px solid #d6ad62;
}
.searchInput{
    width: 446px;
    height: 40px;
    float: left;
    border: none;
    outline: none;
    padding-left: 20px;
}
.tijiao{
    width: 110px;
    height: 40px;
    float: right;
    border: none;
    background: #d6ad62;
}
.search-text{
    position: absolute;
    left:503px;
    top: 7px;
    font-size: 18px;
    color: white;
    z-index: 1;
}
.dingwei{
    position: relative;
}
.searchBtn{
    position: absolute;
    width: 110px;
    height: 40px;
    left: 467px;
    cursor: pointer;
    z-index: 2;
}


.header-2 ul{
    list-style: none;
}
.header-2 ul li{
    float: left;
    margin: 8px 16px 0 0;
}
.header-2 ul li a{
    color: #ccc;
    font-size: 14px;
}
.pay{
    border: 1px solid #EDE3CE;
    background-color: #FFF8EB;
    float: right;
    margin-right: 132px;
    margin-top: 4px;
    position: relative;
    padding: 9px 0;
}
.icon-3,.icon-2,.icon-1{
    float:left;
    width: 49px;
    height: 22px;
    text-align: center;
    line-height: 22px;
}
.icon-1,.icon-2{
    border-right: 1px solid #ddd;
}
.chuxian{
    position: absolute;
    top:43px;
    left: 0px;
    width: 128px;
    padding: 10px;
    border: 1px solid #EDE3CE;
    background-color: #FFF8EB;
    box-shadow: 0px 0px 8px #cccccc;
    display: none;
}

.header-3{
    width: 1210px;
    height: 44px;
    border-bottom: 2px solid #b38b47;
    color: #222;
    box-sizing: border-box;
    margin: 0 auto;
}

.header-3 ul{
    list-style: none;
    cursor: pointer;
}
.header-3 ul li{
    float: left;
}
.header-3 ul li a,.HeaNav4{
    padding: 0 8px;
    width: 74px;
    display: block;
    line-height: 44px;
    color: #222;
}
.header-3 .HeaNav1{
    background:#bf974d;
    padding: 0 0 0 16px;
    text-align: left;
    font-weight: 500;
    width: 217px;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    color: white;
    position: relative;
}
.HeaNav1 .right{
    float: right;
    margin-right: 16px;
    font-size: 18px;
}
.header-3 .HeaNav4{
    position: relative;
}
.chepiao{
    position: absolute;
    top:46px;
    left: -17px;
    width: 92px;
    text-align: center;
    border: 1px solid #eee;
    background-color: white;
    box-shadow: 0px 0px 8px #cccccc;
    display: none;
}
.HeaNav1 dl{
    position: absolute;
    top: 44px;
    left: 0;
    width: 201px;
    height: 49px;
    background: #333;
    padding: 0 16px;
    float: left;
}
.HeaNav1 dl dd{
    float: left;
}
.HeaNav1 dl dd a{
    text-align: left;
    font-weight: 500;
    width: 50px;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    color: white;
}
.HeaNav1 dl dt{
    float: right;
    font-size: 12px;
    min-width: 35px;
    color: #ccc;
}
.HeaNav1 dl dt a{
    font-size: 12px;
    display: inline;
    padding: 0;
    height: 48px;
    color: #ccc;
}
.HeaNav1 dl:nth-of-type(2){
    top: 93px;
}
.HeaNav1 dl:nth-of-type(3){
    top: 142px;
}
.HeaNav1 dl:nth-of-type(4){
    top: 191px;
}
.HeaNav1 dl:nth-of-type(5){
    top: 240px;
}
.HeaNav1 dl:nth-of-type(6){
    top: 289px;
}
.HeaNav1 dl:nth-of-type(7){
    top: 338px;
}
.HeaNav1 dl:nth-of-type(8){
    top: 387px;
}



